h1 {
    text-align: center;
    color: rgb(153, 103, 62);
  }
  
  main {
    padding: 10px; 
    margin-right: 20px;
    margin-left: 150px;
    background-color: white;
}
  h2 {
    text-align: center;
  }
.errorImg{
  margin-left: 390px;
}
.credit{
  text-align: center;
}

  P{
    text-align: center;
    color: rgb(190, 107, 38); 
  } 
  