h1 {
    text-align: center;
    color: rgb(153, 103, 62);
  }
  
  main {
    padding: 10px; 
    margin-right: 20px;
    margin-left: 150px;
    background-color: white;
}
  h2 {
    text-align: center;
  }

.errorImg{
  margin-left: 390px;
}
.credit{
  text-align: center;
}

P {
    text-align: center;
    color: rgb(190, 107, 38); 
  } 
 /*nav bar*/ 
  nav {
    background-color: rgb(74, 1, 143);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

/*show.jsx
.rowA{
  max-width: auto;
  width: 450px;
}*/